# Ignore every config crefential I make
config.py

# Ignore pycache
__pycache__

# Ignore saved model
saved_model/

# Ignore saved scaler
saved_scaler/

# Ignore used model & scaler folder
used_model-scaler/
